<div id="dailyevents-container" class="container-fluid col-xs-12">
  <div class="row col-xs-12" style="margin: 0; padding: 0;">
    <div id="listbox-container" class="col-md-4 col-xs-12">	
      <form>
        <div class="form-group" style="display: inline-block;">
          <h1>DAILY EVENTS</h1>
          <p>{{title}}</p>
          <label for="sel1" id="listbox-label">Select Day:</label>
          <select class="form-control select-control input-md" id="sel1" onchange="showDiv()">
            <option>Sunday</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
          </select>
        </div>
      </form>
    </div>	
    <div id="eventbox-container" class="col-md-8 col-xs-12">
      <div id="Sunday" class="divcontent" style="display: block;">
        <h1>SUNDAY</h1>
        {{#each sundayEvent}}
          <p class="divcontent-text">{{this}}</p>
        {{/each}}
      </div>
      <div id="Monday" class="divcontent">
        <h1>MONDAY</h1>
        {{#each mondayEvent}}
          <p class="divcontent-text">{{this}}</p>
        {{/each}}
      </div>
      <div id="Tuesday" class="divcontent" >
        <h1>TUESDAY</h1>
        {{#each tuesdayEvent}}
          <p class="divcontent-text">{{this}}</p>
        {{/each}}
      </div>
      <div id="Wednesday" class="divcontent">
        <h1>WEDNESDAY</h1>
        {{#each wednesdayEvent}}
          <p class="divcontent-text">{{this}}</p>
        {{/each}}
      </div>
      <div id="Thursday" class="divcontent" >
        <h1>THURSDAY</h1>
        {{#each thursdayEvent}}
          <p class="divcontent-text">{{this}}</p>
        {{/each}}
      </div>
      <div id="Friday" class="divcontent">
        <h1>FRIDAY</h1>
        {{#each fridayEvent}}
          <p class="divcontent-text">{{this}}</p>
        {{/each}}
      </div>
      <div id="Saturday" class="divcontent" >
        <h1>SATURDAY</h1>
        {{#each saturdayEvent}}
          <p class="divcontent-text">{{this}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>	
