{{#with data}}
<div class="container-fluid" style="background-color: #f8f8f9;">
  <div class="row margin-sm">
    <div class="listbox-container col-md-4 col-xs-12">	
      <form>
        <div class="form-group" style="display: inline-block;">
          <h1 class="ul-center">DAILY EVENTS</h1>
          <p>{{title}}</p>
          <label for="day-select" class="daily-event-select-label">Select Day:</label>
          <select class="form-control select-control input-md" id="day-select" onchange="showDiv()">
            <option>Sunday</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
          </select>
        </div>
      </form>
    </div>	
    <div class="col-md-8 col-xs-12 day-event-container">
      <div id="Sunday" class="day-event" style="display: block;">
        <h1 class="ul-center">SUNDAY</h1>
        {{#each sunday_events}}
          <p class="day-event-text">{{text}}</p>
        {{/each}}
      </div>
      <div id="Monday" class="day-event">
        <h1 class="ul-center">MONDAY</h1>
        {{#each monday_events}}
          <p>{{text}}</p>
        {{/each}}
      </div>
      <div id="Tuesday" class="day-event" >
        <h1 class="ul-center">TUESDAY</h1>
        {{#each tuesday_events}}
          <p>{{text}}</p>
        {{/each}}
      </div>
      <div id="Wednesday" class="day-event">
        <h1 class="ul-center">WEDNESDAY</h1>
        {{#each wednesday_events}}
          <p>{{text}}</p>
        {{/each}}
      </div>
      <div id="Thursday" class="day-event" >
        <h1 class="ul-center">THURSDAY</h1>
        {{#each thursday_events}}
          <p>{{text}}</p>
        {{/each}}
      </div>
      <div id="Friday" class="day-event">
        <h1 class="ul-center">FRIDAY</h1>
        {{#each friday_events}}
          <p>{{text}}</p>
        {{/each}}
      </div>
      <div id="Saturday" class="day-event" >
        <h1 class="ul-center">SATURDAY</h1>
        {{#each saturday_events}}
          <p>{{text}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>	
{{/with}}
