{{#with data}}
<div class="container-fluid">
  <div class="row row-flex">
    <div style="background-image: url('{{image}}');" class="col-sm-5 col-sm-push-7 col-xs-12 panel-image"></div>
    <div class="col-sm-7 col-sm-pull-5 col-xs-12 flex-col">
      <h2>{{title}}</h2>
      <p>{{text}}</p>
      {{#if link}}
        <a href="{{link}}" class="lead">{{link_text}}</a>
      {{/if}}
    </div>
  </div>
</div> 
{{/with}}
