{{#with data}}
<div class="jumbo text-center" style="background-color: #f8f8f9;">
  <div class="row">
    <h1 class="ul-center vmargin-xs">{{title}}</h1>
  </div>
  <div class="row" style="background-color: white;">
    <div class="col-md-8 col-xs-12 no-pad-col">
      <img class="img-responsive" style="min-height: 350px;" src="{{image}}"></img>
    </div>
    <div class="col-md-4 col-xs-12 content-block text-left">
      <h3>{{subtitle}}</h3>
      <p>{{text}}</p>
      {{#if link}}
        <a class="lead" href="{{link}}">Learn More</a>
      {{/if}}
    </div>
  </div>
</div>
{{/with}}
