<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img src="{{global.navigation_logo}}" alt="logo"></img>
    </div> 
    <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm hidden-md">
    {{#each global.navigation}}
      {{#if routes}}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{title}} <span class="caret"></span></a>

        <ul class="dropdown-menu">
        {{#each routes}}
         <li><a href={{link}}>{{title}}</a></li>
        {{/each}}
        </ul>

      </li>
      {{else}}
       <li><a href={{link}}>{{title}}</a></li>
      {{/if}}
    {{/each}}
    </ul>
    <div class="navbar-right pull-right hidden-lg" onclick="showMenu()">
      <div class="menu-icon"><span class="glyphicon glyphicon-menu-hamburger hamburger-menu"></span></div>
    </div>        
  </div>
</nav>
<nav class="toggle-menu row container-fluid hidden-lg hidden-xl">
    <span style="cursor: pointer;" class="glyphicon glyphicon-remove remove-icon" onclick="hideMenu()"></span>
    <ul>
    {{#each global.navigation}}
      {{#if routes}}
        <li class="toggle-tab">
          <a>{{title}} <span class="caret"></span></a>
          <ul class="toggle-sub-tab-menu">
            {{#each routes}}
              <li>
                <a href="{{link}}">{{title}}</a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{else}}
        <li>
          <a href="{{link}}">{{title}}</a>
        </li>
      {{/if}}
    {{/each}}
    </ul>
</nav>
<div class="overlay hidden-lg hidden-xl"></div>
