<div id= "navbar" class="container-fluid col-xs-12">
  <div class="row" style="padding: 0; margin: 0;">
    <div class=" col-md-5 col-xs-6 logo-container">
      <img src="{{global.navigation_logo}}" alt="logo"></img>
    </div> 
    {{#each global.navigation}}
      {{#if routes}}
      
      <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
        <div class= "hover-div"><span class="nav-link">{{title}}</span></div>
        <div class="sub-tab">
        {{#each routes}}
          <a class="sub-tab-link" href="{{link}}">{{title}}</a>
        {{/each}}
        </div>
      </div>
      {{else}}
      <div class="col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
       <div class="hover-div"><a class="nav-link" href={{link}}>{{title}}</a></div>
      </div>
      {{/if}}
    {{/each}}
    <div class="col-md-7 col-xs-6 toggle">
      <div id= "menu-icon"><span id= "hamburger-menu" style="cursor: pointer;" class="glyphicon glyphicon-menu-hamburger" onclick="showMenu()"></span></div>
    </div>        
  </div>
</div>
<div id="toggle-menu" class= "row container-fluid hidden-lg hidden-xl">
    <span id="remove-icon" style="cursor: pointer;" class="glyphicon glyphicon-remove" onclick="hideMenu()"></span>
    <div class="toggle-tab row" style="cursor: pointer;">
      <a class="toggle-nav-link" href= "/">Home</a>
    </div>
    <div style="cursor: pointer;" class="toggle-tab row">
      <a class="toggle-nav-link" href="#">Information</a>
      <div class="toggle-sub-tab-menu">
        <div class="toggle-arrow-down"></div>
        <div class="toggle-sub-tab-links">
          <a class="toggle-sub-tab-link" href="mission">Mission</a>
          <a class="toggle-sub-tab-link" href="guidelines">Guidelines</a>
          <a class="toggle-sub-tab-link" href="#">Leadership</a>
        </div>      
      </div>
    </div>        
    <div  class= "toggle-tab row">
      <a class= "toggle-nav-link" href="donate">Donate</a>
    </div>
    <div style="cursor: pointer;" class= "toggle-tab row">
      <a class="toggle-nav-link" href="#">Religious</a>
      <div class="toggle-sub-tab-menu">
        <div class="toggle-arrow-down"></div>
        <div class="toggle-sub-tab-links">
          <a class="toggle-sub-tab-link" href="priestservices">Priest Services</a>
          <a class="toggle-sub-tab-link" href="dietyservices">Diety Services</a>
          <a class="toggle-sub-tab-link" href="priestprofiles">Priest Profiles</a>
          <a class="toggle-sub-tab-link" href="#">Pooja Samagari</a>
        </div>
      </div>
    </div>
    <div class= "toggle-tab row">
      <a class= "toggle-nav-link" href="#">Classes</a>
    </div>        
    <div class= "toggle-tab row">
      <a class= "toggle-nav-link" href="#">Calendar</a>
    </div>       
    <div class= "toggle-tab row">
      <a class= "toggle-nav-link" href="#">Contact Us</a>
    </div>       
</div>
<div id="overlay" class="hidden-lg hidden-xl"></div>
