<div class="navbar" class="container-fluid col-xs-12">
  <div class="row" style="padding: 0; margin: 0;">
    <div class=" col-md-5 col-xs-6 logo-container">
      <img src="{{global.navigation_logo}}" alt="logo"></img>
    </div> 
    {{#each global.navigation}}
      {{#if routes}}
      
      <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
        <div class= "hover-div"><span class="nav-link">{{title}}</span></div>
        <div class="sub-tab">
        {{#each routes}}
          <a class="sub-tab-link" href="{{link}}">{{title}}</a>
        {{/each}}
        </div>
      </div>
      {{else}}
      <div class="col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
       <div class="hover-div"><a class="nav-link" href={{link}}>{{title}}</a></div>
      </div>
      {{/if}}
    {{/each}}
    <div class="col-md-7 col-xs-6 toggle">
      <div class="menu-icon"><span class="glyphicon glyphicon-menu-hamburger hamburger-menu" onclick="showMenu()"></span></div>
    </div>        
  </div>
</div>
<div class="toggle-menu row container-fluid hidden-lg hidden-xl">
    <span style="cursor: pointer;" class="glyphicon glyphicon-remove remove-icon" onclick="hideMenu()"></span>
    {{#each global.navigation}}
      {{#if routes}}
        <div class="toggle-tab row">
          <div class="toggle-nav-title"><span class="toggle-nav-link">{{title}}</a></div>
          <div class="toggle-sub-tab-menu">
            <div class="toggle-sub-tab-links">
            {{#each routes}}
              <a class="toggle-sub-tab-link" href="{{link}}">{{title}}</a>
            {{/each}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="toggle-tab row">
          <div class="toggle-nav-title">
            <a class="toggle-nav-link" href="{{link}}">{{title}}</a>
          </div>
        </div>
      {{/if}}
    {{/each}}
</div>
<div id="overlay" class="hidden-lg hidden-xl"></div>
