{{#with data}}
<div class="container-fluid">
  <div class="row">
    {{#if reverse}}
      <div class="col-md-7 col-md-push-5 col-xs-12 no-pad-col vcenter">
    {{else}} 
      <div class="col-md-7 col-xs-12 no-pad-col vcenter">
    {{/if}}
      <img class="img-responsive" src="{{image}}" alt="{{image-alt}}"></img>
    </div><!--
    {{#if reverse}}
      --><div class="col-md-5 col-md-pull-7 col-xs-12 panel-text-container vcenter">
    {{else}}
      --><div class="col-md-5 col-xs-12 panel-text-container vcenter">
    {{/if}}
      <div class="margin-r-sm" >
        <h2 class="ul-left">{{title}}</h2>
        <p>{{text}}</p>
        {{#if link}}
          <a href="{{link}}">Learn More</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/with}}
