{{#with data}}
<div class="container-fluid social-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 content-block">
      <h3>{{join_message}}</h3>
      <a href="{{join_link}}">
        <button class="btn btn-primary btn-lg" style="margin-top: 20px;">{{join_button}}</button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 content-block">
      <h3 style="margin-bottom: 25px;">{{social_message}}</h3>
      {{#each social_media}}
        <a class="social-icon" href="{{link}}">
          <img src="{{icon}}" alt="{{name}}"></img>
        </a>
      {{/each}}
    </div>
  </div>
</div>
{{/with}}
