{{#with global.social_banner}}
<div class="container-fluid social-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 content-block">
      <h3>{{join_message}}</h3>
      <a href="{{join_link}}">
        <button class="btn btn-primary btn-lg" style="margin-top: 20px;">{{join_button}}</button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 content-block">
      <h3>{{social_message}}</h3>
      {{#each social_media}}
        <a href="{{url}}" class="btn btn-lg btn-social-icon {{class 'btn_facebook' 'btn_twitter' 'btn_instagram' 'btn_google'}}">
          <span class="fa {{class 'fa_twitter' 'fa_facebook' 'fa_google_plus' 'fa_instagram'}}"></span>
        </a>
      {{/each}}
    </div>
  </div>
</div>
{{/with}}
