{{#with data}}
  <div class="container-fluid triple-icon-panel">
    <div class="row vmargin-md">
      <div class="col-xs-12 col-sm-4">
        <img src="{{image_1}}" alt="{{alt_1}}"></img>
        <h3>{{title_1}}</h3>
        <p class="hmargin-sm">{{text_1}}</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="{{image_2}}" alt="{{alt_2}}"></img>
        <h3>{{title_2}}</h3>
        <p class="hmargin-sm">{{text_2}}</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="{{image_3}}" alt="{{alt_3}}"></img>
        <h3>{{title_3}}</h3>
        <p class="hmargin-sm">{{text_3}}</p>
      </div>
    </div>
  </div>
{{/with}}
